--allman false
--binarygrouping 4,8
--closingparen same-line
--commas always
--conflictmarkers reject
--decimalgrouping 3,6
--elseposition same-line
--empty void
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--fragment false
--header ignore
--hexgrouping 4,8
--hexliteralcase uppercase
--ifdef no-indent
--importgrouping alphabetized
--indent tab
--indentcase false
--linebreaks lf
--octalgrouping 4,8
--operatorfunc spaced
--patternlet hoist
--ranges spaced
--selfrequired 
--semicolons inline
--stripunusedargs always
--trailingclosures 
--trimwhitespace always
--wraparguments preserve
--wrapcollections preserve
--disable redundantSelf,spaceInsideComments,typeSugar,unusedArguments
--enable isEmpty
