  <div class="post{% if post.class %}{{ post.class | prepend: " " }}{% endif %}">

    <header>
      <p class="date">{{ post.date | date: "%B %-d, %Y" }}</p>
      <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
    </header>

    <article>
    {{ content }}
    </article>

    <p class="meta">
      <span class="tags">
      <span class="glyphicon glyphicon-tag"></span>
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/news/tags/{{ tag }}">{{ tag }}</a>
      {% endfor %}
      </span>
    </p>

  </div>
