<div class="panel-group" id="accordion">

  <div class="panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTypes">
          Types
        </a>
      </h4>
    </div>
    <div id="collapseTypes" class="panel-collapse collapse">
      <div class="panel-body list-group">
      </div>
    </div>
  </div>

  <div class="panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseProtocols">
          Protocols
        </a>
      </h4>
    </div>
    <div id="collapseProtocols" class="panel-collapse collapse">
      <div class="panel-body list-group">
      </div>
    </div>
  </div>

  <div class="panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOperators">
          Operators
        </a>
      </h4>
    </div>
    <div id="collapseOperators" class="panel-collapse collapse">
      <div class="panel-body list-group">
      </div>
    </div>
  </div>

  <div class="panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseGlobals">
          Globals
        </a>
      </h4>
    </div>
    <div id="collapseGlobals" class="panel-collapse collapse">
      <div class="panel-body list-group">
      </div>
    </div>
  </div>

</div>
