html,
body {
  height: 100%;
}
body {
  font: 17px/21px 'Avenir Next', 'Avenir', sans-serif;
  color: #333333;
}
#navbar {
  display: block;
}
#sidebar,
#header {
  display: none;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
#header {
  color: #ffffff;
  -webkit-background-size: cover;
  background-color: #ef6639;
  background-image: url(/assets/images/swift-bg.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  text-align: center;
}
#header h1 {
  font-size: 40px;
  font-weight: normal;
  margin: 20px 15px 7px;
}
#header h1 a:hover {
  text-decoration: none;
}
#header a {
  color: #ffffff;
}
#header p {
  display: none;
}
#header .form-group {
  margin: 27px 20% 0;
  text-align: left;
  color: #777;
}
body.home #header {
  height: 235px;
}
body.home #header h1 {
  font-size: 60px;
  font-weight: normal;
  margin-top: 40px;
}
body.home #header p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  display: block;
}
.home-block {
  border-top: 1px solid #eeeeee;
  padding-bottom: 40px;
}
.home-block h2 {
  margin-top: 40px;
}
.navbar-default {
  margin-bottom: 0;
  border: none;
}
.navbar-default .navbar-right > li > a {
  padding-left: 20px;
}
.navbar-default .navbar-header {
  color: #ffffff;
  -webkit-background-size: cover;
  background-color: #ef6639;
  background-image: url(/assets/images/swift-bg.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-default .navbar-form {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.navbar-default .navbar-toggle .icon-bar {
  background: #ffffff;
}
.navbar-default h1 {
  font-size: 32px;
  margin: 9px 7px 0 15px;
  display: inline-block;
}
.navbar-default h1 a {
  color: #ffffff;
}
.navbar-default h1 a:hover {
  text-decoration: none;
}
.navbar-default .version {
  color: rgba(255, 255, 255, 0.7);
}
.select2-results li {
  font-size: 0.9em;
}
.select2-results .select2-highlighted {
  background-color: #ef6639;
  color: #ffffff;
  font-weight: 600;
}
.select2-container .select2-choice {
  font-family: 'Avenir Next', 'Avenir', sans-serif;
}
.select2-chosen,
.select2-choice > span:first-child {
  padding-top: 7px;
}
.input-group .form-control-feedback {
  top: 0;
}
.input-group-lg .form-control-feedback {
  top: 7px;
  right: 7px;
}
#wrapper .select2-arrow {
  display: none;
}
.navbar-left .form-group {
  width: 100%;
}
#sidebar .form-group {
  margin: 35px 0 0;
  width: 100%;
}
#sidebar #accordion {
  margin: 30px 0;
}
#sidebar #accordion #versions {
  margin-top: 30px;
}
#sidebar #accordion .panel {
  color: #000000;
  background: #dddddd;
  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
}
#sidebar #accordion .panel-body {
  padding: 0;
}
#sidebar #accordion .panel {
  border: none;
}
#sidebar #accordion .panel-group .panel-heading + .panel-collapse > .panel-body {
  border: none;
}
#sidebar #accordion .list-group {
  border-radius: 0;
}
#sidebar #accordion .list-group-item {
  font-size: 0.8em;
  border-top: 0;
  border-bottom: 0;
  padding: 5px 15px;
  overflow-x: hidden;
}
#sidebar #accordion .list-group-item.current {
  font-weight: bold;
}
#sidebar #accordion .list-group-item:first-child {
  border-radius: 0;
}
#sidebar #accordion .subnav-header {
  font-weight: bold;
  padding-top: 15px;
  color: #333333;
}
h2 {
  font-weight: 700;
  margin: 35px 0;
}
.p-news h2 {
  font-weight: 600;
}
a {
  color: #ee543d;
}
.content {
  margin: 0 0 50px;
}
.content h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 25px 0 5px;
}
.content .main-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content .main-list li {
  list-style: none;
  margin: 0 0 3px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
.content .viz {
  display: block;
}
.content .viz a {
  display: inline-block;
  margin-top: 5px;
  padding: 4px 5px 2px;
  background: white;
  border: 1px solid #ee543d;
  color: #ee543d;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}
.content .viz a:hover {
  color: white;
  background: #ee543d;
  text-decoration: none;
}
.content .syntaxhighlighter {
  border-radius: 4px;
}
.content .syntaxhighlighter .caption {
  display: none;
}
.content .syntaxhighlighter .container {
  width: auto;
}
.content .syntaxhighlighter .container li {
  border-left: none;
  margin-left: 4em;
  text-indent: -4em !important;
  white-space: normal !important;
}
.content .syntaxhighlighter .container::before,
.content .syntaxhighlighter .container::after {
  content: none;
}
.content .syntaxhighlighter a {
  color: #6f41a7 !important;
  text-decoration: underline;
}
.content .syntaxhighlighter a :hover {
  color: #6f41a7 !important;
}
.content .comment {
  margin: 0 0 20px;
  font-size: 15px;
}
.content .comment h1 {
  margin: 25px 0 5px;
  font-size: 22px;
  font-weight: 600;
}
.content .comment h2 {
  margin: 1.8em 0 0.2em;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
.content .comment strong {
  font-weight: 600;
}
.content .comment pre {
  border: none;
  border-left: 5px solid #efefef;
  border-radius: 0;
  padding: 0 0 0 10px;
  background: transparent;
}
.content .comment .syntaxhighlighter {
  font-size: 1em !important;
  margin: 0 !important;
}
.content .comment .syntaxhighlighter ul.container {
  line-height: 1.5em;
}
.content .comment .syntaxhighlighter ul.container li:last-child {
  padding-bottom: 0 !important;
}
.content .comment .syntaxhighlighter code {
  line-height: 1.7em;
}
.content .comment code {
  font-size: 0.85em;
}
.content code {
  background: transparent;
  color: inherit;
  font-size: 0.75em;
  padding: 0;
}
.content code a {
  color: #6f41a7;
  text-decoration: underline;
  border: none;
}
.content code a :hover {
  color: #6f41a7;
}
.posts {
  line-height: 23px;
}
.posts .post {
  margin: 35px 0 70px;
}
.posts h1 {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}
.posts h1 a {
  color: #000;
}
.posts h2 {
  font-size: 22px;
  font-weight: 600;
  margin: 20px 0 7px;
}
.posts h3 {
  font-size: 17px;
  font-weight: 600;
  margin: 0;
}
.posts header {
  margin: 0 0 15px;
}
.posts .date {
  color: #999999;
  margin: 0 0 5px;
}
.posts p {
  margin: 0 0 15px;
}
.posts .release h1 {
  display: inline-block;
  font-size: 17px;
  margin-left: 5px;
}
.posts .release .date {
  display: inline;
}
.posts .tags {
  font-size: 0.85em;
}
.posts .tags a {
  display: inline-block;
  margin-left: 3px;
}
.posts .tags .glyphicon {
  color: #bbb;
  font-size: 13px;
  position: relative;
  top: 3px;
}
.posts code {
  font-size: 14px;
}
.postlist {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}
.postlist li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
  margin-bottom: 10px;
  display: block;
}
.postlist .date {
  color: #999999;
  white-space: nowrap;
}
/* hierarchy SVG embed pages */
.p-hierarchy .container {
  width: auto;
  padding-top: 10px;
}
.p-hierarchy #footer {
  background: none;
  text-align: left;
  padding-left: 15px;
  color: #999999;
}
.p-hierarchy #footer a {
  color: #999999;
}
.push {
  height: 60px;
}
#footer {
  color: #ffffff;
  -webkit-background-size: cover;
  background-color: #ef6639;
  background-image: url(/assets/images/swift-bg.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 63px;
  padding-top: 10px;
  text-align: center;
  font-size: 0.9em;
  line-height: 21px;
}
#footer a {
  color: #ffffff;
}
#footer .line {
  display: block;
}
#footer .sep {
  display: none;
}
@media (min-width: 768px) {
  #navbar,
  .jumbotron p {
    display: none;
  }
  #sidebar,
  #header {
    display: block;
  }
  #wrapper {
    margin-bottom: -40px;
  }
  .push,
  #footer {
    height: 40px;
  }
  #footer .line {
    display: inline;
  }
  #footer .sep {
    display: inline;
  }
}
