---
layout: wrapper
---

          <header>
            <h2>Posts in <strong>{{ page.date | date: "%Y" }}</strong></h2>
          </header>
          
          <article class="content">
            <ul class="postlist">
              {% assign month = "" %}
              {% for post in page.posts %}
            
                {% assign post_month = post.date || date: "%B" %}
                {% if post_month != month %}
            
                  {% assign month = post_month %}
                <h2>{{ post_month }}</h2>
            
                {% endif %}
            
                {% include post-item.html %}
            
              {% endfor %}
            </ul>
            
            <br />
            <ul class="pager">
              {% if page.previousArchive %}
              <li class="previous"><a href="{{ site.baseurl }}/news/{{ page.previousArchive }}">&larr; Older</a></li>
              {% endif %}
              {% if page.nextArchive %}
              <li class="next"><a href="{{ site.baseurl }}/news/{{ page.nextArchive }}">Newer &rarr;</a></li>
              {% endif %}
            </ul>
          </article>
